@font-face {
    font-family: Comic Mono;
    src: url("../fonts/comic-mono.ttf");
}

@font-face {
    font-family: Skyhook Mono;
    src: url("../fonts/skyhook-mono.ttf");
}

body {
    background: #1e272c;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;

    padding: 0 10px;

        font-family: "Comic Mono", cursive;
    font-variant-ligatures: common-ligatures;
    font-size: 18px;
    color: #bebebe;

    text-align: center;
}

a {
    color: #e288a2;
}

h1, h2, h3 {
    line-height: 1.2
}
