/* sauce: https://teamtreehouse.com/community/how-to-display-image-at-half-the-size */
img.half-img {
    width: 50%;
    height: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table.centered-border {
    margin: 0 auto;
    border: 1px solid #84fff2;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    padding: 5px;
    text-align: center;
}

td.border {
    border: 1px solid #84fff2;
}

span.small {
    font-size: smaller;
}
