@font-face {
    font-family: Comic Mono;
    src: url("../fonts/comic-mono.ttf");
}

@font-face {
    font-family: Skyhook Mono;
    src: url("../fonts/skyhook-mono.ttf");
}

body {
    background: #1e272c;
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;

    padding: 0 10px;  /* what does this even do */

    font-family: "Comic Mono", cursive;
    font-variant-ligatures: common-ligatures;
    font-size: 18px;
    text-align: left;
    color: #bebebe;
}

a {
    color: #e288a2;
}

h1, h2, h3 {
    line-height: 1.2
}

/* sauce: https://espadrine.github.io/blog/posts/markdown-quote-styling.html */
blockquote {
    margin: 0;
    padding-left: 1.4rem;
    position: relative;
}
blockquote::before {  /* this actually adds the rectangle on the left */
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #dadada;
    border-radius: 2px / 4px;
}

/* woah, classes! */
.inline {
    font-family: "Skyhook Mono", monospace;
    font-weight: bold;
    color: #84fff2;
}
