img.quarter-img {
  max-width: 25%;
  max-height: 25%;
  width: auto;
  height: auto;
}

img.half-img {
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
}

img.third-img {
  max-width: 33%;
  max-height: 33%;
  width: auto;
  height: auto;
}

img.three-quarters-img {
  max-width: 75%;
  max-height: 75%;
  width: auto;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

table.centered-border {
  margin: 0 auto;
  border: 1px solid #84fff2;
  border-collapse: collapse;
}

td.border {
  border: 1px solid #84fff2;
}

span.small {
  font-size: small;
}

span.big {
  font-size: larger;
}

span.strike {
  text-decoration: line-through;
}

/* woah, classes! */
.inline {
  background-color: #51938f;
  padding: 4px;
  border-radius: 4px;
  font-family: "Skyhook Mono", monospace;
  /* idk if this is good or not, who cares */
  font-weight: bold;
  font-size: small;
  color: #84fff2;
}

h1, h2, h3 {
  .inline {
    font-size: medium;
  }
}

.vert-space > * {
  margin: 1rem
}
